<!DOCTYPE html>
<html>
    <head>
        <title><%= basename %></title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('nav') %>
        <main>
        <h1>Index of <%= dirpath %>/</h1>
        <ul>
            <% for (let f of files) { %>
            <li><a href=<%= basename + "/" + f%>> <%= f %> </a></li>
            <% } %>
        </ul>
        </main>
    </body>
</html>
